.App {
    font-family: sans-serif;
    font-weight:800;
    font-size:20px;
    color: #3d405b;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#e07a5f;
  }  .button-style {
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      margin-bottom: 10px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
     
    }